/*This Website is Created by Dhruvin Bhingradiya*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}
nav {
    flex: 1;
    text-align: right;
}
nav ul {
    display: inline-block;
    list-style-type: none;
}
nav ul li {
    display: inline-block;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #555;
}
p {
    color: #555;
}
.tablet, .desktop {
    display: none;
  }

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn {
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover {
    background: #563434;
}

.header {
    background: radial-gradient(#fff,#ffd6d6);
}
.header .row {
    margin-top: 70px;
}
.categories {
    margin: 70px 0;
}
.col-3 {
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img {
    width: 100%;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.col-4 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img {
    width: 100%;
}
.stars {
    display: inline-block;
    width: 100px;
    overflow: hidden;
}
.stars::before {
    content: '★★★★★';
    letter-spacing: 1px;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    width: calc(100% * var(--rating));
    color: #ff523b;
}
.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.title-abus {
    text-align: center;
    margin: 0 auto 10px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title-abus::after{
    content: '';
    background: #ff523b;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.title1 {
    text-align: center;
    position: relative;
    color: #000000;
}
.title-promo {
    text-align: center;
    position: relative;
    color: #000000;
    cursor: pointer;
    border: 2px solid transparent;
    padding: 30px 0;
    border-color: #000000;
    display: block;
    margin: 20px auto; 
    max-width: fit-content;
}

.btn-2 {
    display: inline-block;
    background: #555;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn-2:hover {
    background: #333;
}
.offer:hover {
    transform: scale(1.25);
    cursor: pointer;
}


h4 {
    color: #555;
    font-weight: normal;
}
.col-4 p {
        font-size: 14px;
}
.col-4:hover {
    transform: translateY(-5px);
}
.offer {
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img {
    padding: 50px;
}
small {
    color: #555;
}
/*Rules For Footer*/
footer {
    position: relative;
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .logo-footer {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .logo-footer img {
    max-width: 100px;
  }
  
  .details {
    position: relative;
    margin-top: 50px;
    font-size: smaller;
  }
  
  .details p {
    margin: 0;
  }
.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}
/*Product Page*/
.row-2 {
    justify-content: space-between;
    margin: 120px auto 50px;
}
select {
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus {
    outline: none;
}
section {
    margin-bottom: 20px;
  }
  
video {
    width: 100%;
    
}
.video-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #ff523b;
    border-radius: 5px;
    width: 40%;
    margin: 0 auto;
    overflow: hidden;
}
  
.centered-video {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    }

.contact-form {
    width: 70%;
    margin: 0 auto;
    }

.contact-form fieldset {
    border: 1px solid #555;
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 20px;
    }

.contact-form legend {
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea,
.contact-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form .form-buttons {
    text-align: center;
}

.contact-form button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.table {
    font-family: Arial, sans-serif;
    margin: 30px;
  }

.training-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.training-table caption {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.training-table th,
.training-table td {
    border: 1px solid #fe1e01;
    padding: 8px;
}

.training-table th {
    background-color: #ff523b;
    font-weight: bold;
    text-align: left;
}

.training-table tbody tr:nth-child(even) {
    background-color: #fff;
}

.training-table tbody tr:hover {
    background-color: #fe5f4a;
}


/* Media Query Tablet*/
@media only screen and (max-width:800px) {
    nav ul {
        position: absolute;
        top: 105px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;        
    }
    nav ul li a {
        color: #fff;
    }
    .menu-icon {
        display: block;
        cursor: pointer;
    }
    .tablet, .desktop {
        display: none;
      }
}

/* Media Query mobile*/
@media only screen and (max-width:600px) {
    .row {
        text-align: center;
    }
    .col-2, .col-3, .col-4 {
        flex-basis: 100%;
    }
    .tablet, .desktop {
    display: none;
    }
    
}

